URxvt*font: xft:Hermit:pixelsize=11
URxvt*boldFont: xft:Hermit:bold:pixelsize=11

*.foreground: rgb:22/ea/e0
*.background: rgb:22/18/30

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5

! right hand side scrollbar...
xterm*rightScrollBar: false
xterm*ScrollBar: false

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle: 		    hintslight

URxvt.internalBorder: 10
URxvt*saveLines: 12000

URxvt*scrollBar: false
