URxvt.font:   xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt.boldFont:  xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true

! special
*.foreground:   #f1f1f1
*.background:   #0a0a0a
*.cursorColor:  #f1f1f1

! black
*.color0:       #515151
*.color8:       #404040

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #65d45b
*.color10:      #65d45b

! yellow
*.color3:       #65d45b
*.color11:      #f39d21

! blue
*.color4:       #7dc1cf
*.color12:      #4e9fb1

! magenta
*.color5:       #ff9af1
*.color13:      #ff9af1

! cyan
*.color6:       #89ccdc
*.color14:      #60a3b1

! white
*.color7:       #121111
*.color15:      #dadada

xterm*ScrollBar: false

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle: 		    hintslight

URxvt.internalBorder: 10
URxvt*saveLines: 12000

URxvt*scrollBar: false
URxvt.letterSpace: 0
URxvt.lineSpace: 0
